@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&family=Pacifico&display=swap');


h1,h2,h3,h4,h5{
  margin: 0 !important;
}

.hero-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8% auto;

}

.container {
  margin: 0 auto;
  width: 80%;
}

.container-1 {
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 400px) {
   .container, .container-1 {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
   }
}


/* 
@media (max-width: 1300px) {
  .hero-layout {
    height: 50vh;
  }
} */

body {
  overflow-x: hidden;
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}